<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(/images/bg_5.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <diav class="row justify-content-end">
            <div class="col-md-6 py-5 px-md-5">
                <div class="py-md-5">
                    <div class="heading-section heading-section-white ftco-animate mb-5">
                        <h2 class="mb-4">Payment of School Fees</h2>
                        <p> Please Make Sure you Provide All the necessary Details
                            </p>
                    </div>
                    <form action="/paystack/pay" method="POST" class="appointment-form ftco-animate">
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" name="fullName" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" name="email" class="form-control" placeholder=" Email">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            
                            <div class="form-group ml-md-4">
                                <input type="tel" name="amount" class="form-control" placeholder="Amount">
                            </div>
                        </div>
                        <div class="d-md-flex">
                            
                            <div class="form-group ml-md-4">
                                <input type="submit" value="pay" class="btn btn-primary btn-sm my-2 p-2">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    </div>
</section>