<div class="container">
    <form action="">
        <h1>THANKS FOR YOUR PATRONAGE</h1>
        <h3>Check Your Email For Receipt</h3>
        <a href="/"><input type="button" name="butn" class="btn btn-success" value="HOME" /></a>

    </form>
</div>